.App {
  text-align: center;
  background-color: var(background-color);
  transition: background-color 250ms ease-in-out;
}

main div:first-child {
  transform: translateY(-100%);
  opacity: 0;
}

main div:last-child {
  transform: translateY(100%);
  opacity: 0;
}

.slide-in {
  transform: translateY(0) !important;
  opacity: 1 !important;
}