@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@500&family=Oswald&family=Playpen+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@500&family=Oswald&family=Playpen+Sans&family=Roboto&family=Roboto+Mono&display=swap');


body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playpen Sans', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;

}

:root {
  background-color: rgb(245, 238, 238);
  color: black
}

[data-theme="dark"] {
  background-color: rgb(16, 15, 15);
  color: white;

  .git-live a {
    color: white;
  }

  .contact-email a {
    color: white;
  }

  .projicon path {
    fill: red;
    transition: fill 250ms ease-in-out;
  }

  .icon path {
    fill: red;
    transition: fill 250ms ease-in-out;
  }

  .iconLn path {
    fill: red;
    transition: fill 250ms ease-in-out;
  }
}