@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@500&family=Oswald&family=Playpen+Sans&family=Roboto&display=swap');


body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playpen Sans', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: aliceblue;
}