.main-info-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 25vh;
    transition: 2s;
}

.picofme {
    height: 300px;
    border-radius: 100px;
}

.item-1 {
    grid-row-start: 1;
    text-align: left;
    width: 50vw;
}

.tech-stack {
    padding-top: 100px;
    display: flex;
    align-items: center;
    font-size: 35px;

}

.tech-stack img {
    height: 25px;
    padding-left: 10px;
}

.tech-stack #sql {
    height: 35px;
    padding-left: 5px;
}


.icon:hover {
    transform: scale(1.2);
}

.iconLn:hover {
    transform: scale(1.2);

}

.info-desc p {
    font-size: 20px;
}

.icon {
    height: 3vh;
    width: 3vw;
    padding-left: 10px;
    transition: .2s;
}

.iconLn {
    height: 3vh;
    width: 3vw;
    padding-right: 10px;
    transition: .2s;
}

.socials {
    display: flex;
}